@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    font-family: 'Bebas Neue', cursive;
}

.contenedor1{
    background-image:url('./animation/fodo.png')
}
.banner {
    background-image:url('./animation/baner1.jpg')
}
.container1{
    height:53rem;
}


@media (max-width: 480px) {
    .container1 {
        height:34rem;
    }

}

.splide__arrow--prev{
    background: black;
    color:black
}
